@using R5T.R0004.Internal


@namespace R5T.R0004

@attribute [R5T.T0154.RazorComponentMarker]

@inherits HeadingBase


<h3 id="@this.Identity">@this.HeadingText</h3>

@if (this.IncludeInTableOfContents)
{
    <TableOfContentsContent
        Identity="@this.Identity"
        Text="@this.TableOfContentsText"
        Level="@this.Level" />
}

@code{
    //See heading base.

    public HeadingL3()
    {
        this.Level = 3;
    }
}